* {box-sizing: border-box;}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #629c62;
}

.container { max-width: 600px; margin: auto; padding: 20px; }

h1 {

    text-align: center;
}

form {
    margin: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px;
     border: 3px solid #D8BFD8; 

}

button {
 padding: 10px 30px;
background-color: #FDF5E6;
color: rgb(0, 0, 0);
border: none;
cursor: pointer;
border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #D8BFD8;
    padding: 10px;
    margin-bottom: 10px;
}

.delete-btn {
    float: right; 
    background-color: #FDF5E6; 
    color: rgb(0, 0, 0); 
    border: none; 
    padding: 3px 10px; 
    cursor: pointer; 
}

.note-item {
    position: relative;
    clear: both; 
}